@model IEnumerable<Note>

@{
    ViewBag.Title = "Group 2's Final Project";
}

<a asp-action="Add" asp-controller="Note" class="mt-2"><b>Add Note</b></a>

<table class="table table-bordered table-striped">
    <thead>
        <tr>
            <th>Title</th>
            <th>Category</th>
            <th>Description</th>
            <th>Date Created</th>
            <th>Date To Be Done By</th>

            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (Note note in Model)
        {
        <tr>
            <td>@note.Title</td>
            <td>@note.Category.Name</td>
            <td>@note.Description</td>
            <td>@note.DateCreated?.ToShortDateString()</td>
            <td>@note.DueDate?.ToShortDateString()</td>

            <td>
                <form asp-action="Delete" asp-controller="Note">
                    <button type="submit" name="id" value="@note.NoteId"
                            class="btn btn-primary">
                        Delete
                    </button>
                </form>
            </td>
        </tr>
        }
    </tbody>
</table>
