@model IEnumerable<Note>

@{
    ViewBag.Title = "Group 2's Final Project";
}

<a asp-action="Add" asp-controller="Note" class="mt-2"><b>Add Note</b></a>

<table class="table table-bordered table-striped">
    <thead>
        <tr>
            <th>Title</th>
            <th>Category</th>
            <th>Date Created</th>
            <th>Due Date</th>
            <th>Description</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (Note note in Model)
        {
            <tr>
                <td>@note.Destination.Name</td> 
                <td>@note.StartDate?.ToShortDateString()</td>
                <td>@note.EndDate?.ToShortDateString()</td>
                <td>
                    @if (note.Accommodation != null)
                    {
                        <div>@note.Accommodation.Name</div>
                        @if (!string.IsNullOrEmpty(note.Accommodation.Phone))
                        {
                            <div>Phone: @note.Accommodation.Phone</div>
                        }
                        @if (!string.IsNullOrEmpty(note.Accommodation.Email))
                        {
                            <div>Email: @note.Accommodation.Email</div>
                        }
                    }
                </td>
                <td>
                    <form asp-action="Delete" asp-controller="Note">
                         <button type="submit" name="id" value="@note.NoteId" 
                                 class="btn btn-primary">Delete</button>
                    </form>
                </td>
            </tr>
        }
    </tbody>
</table>
